{% extends 'layout.twig' %}

{% block title %} Start looking fly! {% endblock %}

{%block body %}
{% import 'macros.twig'as myMacros %}}
{#
This is how you make a comment!
#}

{# {{ featuredProduct.name}} #}

<div class="hero-unit">
	<h1>{{ pageData.title }}</h1>
  <p>
  {{pageData.summary}}
  </p>
  
{% if pageData.hasSale %}
<div class="sale-ends-at">
  Sale Ends: {{ saleEndsAt|date('D M jS ga')}}
  </div>
{% endif %}
</div>

{{ include('_banner.twig', {'backgroundColor': 'violet'}) }}

<div class="row">
	{{ myMacros.printProducts(products, "Oh no we're all out of super-awesome penguin clothes!") }}
  </div>

    {% if products is empty %}
      <div class ="alert alert-error span12">
      Oh no! We're all out of super-awesome penguin clothes!
      </div>
      {% endif %}
      {% if products|length is even %}
       <div class="span12">
        There is an even number of products! OMG!
        </div>
        </div>
    {% endif %}
</div>

{% endblock %}